<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Calculo de Compras</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
</head>
<body>
<div class="container">
    <h1>Cálculo de Compras</h1>
    <form action="/calculocompras" method="POST">
        <label for="nombre">Ingresa tu nombre:</label>
        <br>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="edad">Ingresa tu edad:</label>
        <br>
        <input type="number" id="edad" name="edad" required>
        <br>
        <label for="tarros">Ingresa la cantidad de tarros de pintura a comprar:</label>
        <br>
        <input type="number" id="tarros" name="tarros" required>
        <br>
        <button type="submit">Calcular</button>
    </form>
    {% if nombre and totalBruto and descuento and totalNeto %}
    <div>
        <h4>Nombre del cliente: {{nombre}}</h4>
        <h4>Total sin descuento: ${{totalBruto}}</h4>
        <h4>El descuento es: ${{descuento}}</h4>
        <h4>El total a pagar es de: ${{totalNeto}}</h4>
    </div>
    {% endif %}
</div>
</body>
</html>